# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Carthage/Build/
Pods/
.package.resolved

# Secrets - IMPORTANT: Uncomment for production
# TodoHub/Config/Config.swift

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Signing
*.mobileprovision
*.p12
*.p8
AuthKey*.p8

# OS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*~.nib
*.hmap
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
